* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: #121212;
    color: #fffafa;
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  
  /* Card internals */
  .card--closed {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #1e1d1d;
  }
  
  .card--closed .icon,
  .card--open .header .icon {
    width: 32px;
    height: 32px;
  }
  
  .card--closed .icon {
    margin-right: 0px;
    margin-top: 40px;
  }
  
  .card--closed .divisor--closed,
  .card--open .header .divisor {
    transition: all 300ms;
    height: 3px;
    background: rgba(255, 250, 250, 0.2);
  }
  
  .card--closed .divisor--closed {
    width: 3px;
    height: 48px;
  }
  
  .card--open .header .divisor {
    flex: 1;
  }
  
  .card--closed .title,
  .card--open .header .title {
    transition: all 300ms;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .card--closed .title {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    writing-mode: vertical-rl;
  }
  
  .card--open {
  /*   padding: 24px 40px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 0;
  }
  
  .card--open .header {
    display: flex;
    align-items: center;
  }
  
  .card--open .description {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  
  .card--open .button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 28px;
    color: #fffafa;
    border: 1px solid currentColor;
    background: transparent;
    width: max-content;
  }
  
  .card--open .button span {
    text-transform: uppercase;
    letter-spacing: 0.64px;
  }
  
  .card--open .showcase {
    width: 100%;
    height: 384px;
    object-fit: cover;
    object-position: center center;
  }
  
  /* Card container */
  .container {
    position: relative;
    height: 552px;
    width: 140px;
    display: flex;
    overflow: hidden;
    transition: width 300ms;
  }
  
  .card--open {
    width: 600px;
    padding: 0px;
    height: 100%;
    max-width: 673px;
    position: absolute;
    overflow: hidden;
    transition: all 300ms;
    left: 100%;
  }
  
  .card--closed{
    width: 140px;
    opacity: 1;
    transition: all 300ms;
  }
  
  /* Transitions */
  .container:hover {
    width: 600px;  
  }
  
  .container:hover .card--open {
    left: 0%;
  }
  
  .container:hover .card--closed{
    width: 0px;
    opacity: 0;
  }